/* Loading Block */
* {
  margin: 0;
  padding: 0;
}

#loading {
  width: 100%;
  height: 100%;
  transition: all 10s;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex; /* Flexboxを使用 */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
}

.logo {
  width: 266px;
  height: 246px;
  position: fixed; /* 相対位置を指定 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.logotype {
  background-image: url(img/logotype.png);
  width: 216px;
  height: 80px;
  z-index: 9999;
  position: absolute;
  top: 100px;
  left:-40px;
}

.spinner {
  position: absolute;
  width: 192px;
  height: 192px;
  background-color: #ffea00;
  border-radius: 100%;
  top: -60px;
  left:40px;
  animation: sk-scaleout 1.0s ease-in-out forwards;
}

 



/* Loading Animation */
@keyframes sk-scaleout {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 1;
  }
}

/* Hide Loading Block */
.loaded {
  opacity: 0;
  visibility: hidden;
}

/* Contents Styling */
.gallery {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}