/* Loading Block */
* {
  margin: 0;
  padding: 0;
}

#loading {
  width: 100%;
  height: 100%;
  transition: all 10s;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex; /* Flexboxを使用 */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
}

.logo {
  width: 13.3vw; /* 266pxをvwに変換 */
  height: 13.3vw; /* 246pxをvwに変換 */
  position: fixed; /* 相対位置を指定 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logotype {
  background-image: url(img/logotype.png);
  width: 10.8vw; /* 216pxをvwに変換 */
  height: 4vw; /* 80pxをvwに変換 */
  z-index: 9999;
  position: absolute;
  top: 0vw; /* 100pxをvwに変換 */
  left: 0vw; /* 40pxをvwに変換 */
  background-repeat: no-repeat;
  background-size: contain; 
  transition: all 10s;
}

.spinner {
  position: absolute;
  width: 9.6vw; /* 192pxをvwに変換 */
  height: 9.6vw; /* 192pxをvwに変換 */
  background-color: #ffea00;
  border-radius: 100%;
  top: 0vw; /* 60pxをvwに変換 */
  left: 0vw; /* 40pxをvwに変換 */
  animation: sk-scaleout 1.0s ease-in-out;
  transition: all 10s;
}

/* Loading Animation */
@keyframes sk-scaleout {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 1;
  }
}

.loaded_spinner {
  transition: all 10s;
  opacity: 0;
  visibility: hidden;
  animation: spinner00 1.0s ease-in-out forwards;
}

/* Loading Animation */
@keyframes spinner00 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 1;
  }
}



/* Contents Styling */
.gallery {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}